<div id="footer" class="">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="col-md-9 col-sm-7">
					<div class="row">
					<a href="#" class=""><img id="custom-footer-logo" src="http://placehold.it/200x45"><!-- text --></a>
					</div>
					<div class="row">
					<h5>© 2016-2017 All rights reserved</h5>
					</div>
				</div>

				<div class="col-md-3 col-sm-5">
					
						{{ site.description }}
					
				</div>

				<!-- floating wiget -->
				<!-- 		<ul class="nav pull-right scroll-top">
				<li><a href="#" title="Scroll to top"><i class="glyphicon glyphicon-chevron-up"></i></a></li>s
				</ul>
				 -->

			</div><!-- /col-sm-12 -->
		</div><!-- /row -->
	</div>
</div>
